**/__pycache__/
**/.DS_Store
.cache
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
**/.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tool caches
.pytest_cache/
.mypy_cache/

# Logs
*.log

docs/
instance/